---
name: Django-ecommerce

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on:
            - ubuntu-latest
        steps:
        - uses: actions/checkout@v5
        - uses: actions/setup-python@v6
          with:
            python-version: '3.13'
            cache: 'pip' # caching pip dependencies
        - run: pip install -r requirements.txt          
        - name: Run migrations
          run: python manage.py migrate

        - name: Run tests
          run: python manage.py test
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           aws-region: ap-south-1
        - name: Verify AWS Authentication
          run: aws sts get-caller-identity
        - name: Deploy static site to s3 bucket
          run: aws s3 sync . s3://django-sachin --delete
        - name: Download Beanstalk Code from S3
          run: |
              aws s3 cp s3://django-sachin/applications/app-name/version.zip ./app.zip
  