---
name: Django-ecommerce

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on:
            - ubuntu-latest

        steps: 
        - name: setup python
          uses: actions/checkout@v4
        - name: install dependencies
          run: |
            python -m pip install -- upgrade pip
            pip install -r requirements.txt
                                               